.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-shadow: 10px 5px 15px 6px #ffffff;
    height: 80px;
    width: 1265px ;
    background-color: #ffffff;
  
  }

   .header-container{
    flex: 1;
  } 
  
  .navbar-right {
    display: inline-flex;
    align-items: center;
    gap: 12px;
  }
  .navbar-right img {
    margin: 0 10px;
  }