.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .pagination input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
  .page-controls a {
    color: #007bff;
    text-decoration: none;
    padding: 0 10px;
  }
  .main-content {
    /* margin-left: 250px; */
    padding: 20px;
    max-width: 1200px;
  }